
<!DOCTYPE html>
<html ng-app="nodeTodo">

<head>
    <title>Components</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="stylesheets/style.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="javascripts/app.js"></script>
</head>
<body ng-controller="mainController">



<div id="mainmenu">
    <span class="menu_item"><a href="index.html">Home</a></span>
    <span class="menu_item"><a href="index.html">Components</a></span>
    <span class="menu_item"><a href="symbols.html">Schematic_symbols</a></span>
    <span class="menu_item"><a href="footprints.html">Footprints</a></span>
    <span class="menu_item"><a href="suppliers.html">Suppliers</a></span>
    <span class="menu_item"><a href="boms.html">BOMs</a></span>
    <span class="menu_item"><a href="about.html">About</a></span>
    <span class="menu_item"><a href="contact.html">Contact</a></span>
    <span class="menu_item"><a href="login.html">Login</a></span>
</div>

<div class="container">

    <div class="header">
        <h1>Tecinvent</h1>
    </div>

    <div class="todo-form">
        <label for="components"><h2 class="lead">Components</h2></label>
        <form id="components">
            <div class="form-group">

                <div class="ui-widget">
                    <select id="families">
                    </select>
                </div>
                <div class="ui-widget">
                    <input id="values" type="text" name="Value">
                    </input>
                </div>
                <div class="ui-widget">
                    <input id="description" type="text">
                    </input>
                </div>
                <div class="ui-widget">
                    <input id="mount" type="text">
                    </input>
                </div>
                <div class="ui-widget">
                    <select id="symbols">
                    </select>
                </div>
                <div class="ui-widget">
                    <select id="footprints">
                    </select>
                </div>
                <div class="ui-widget">
                    <select id="supplier_1">
                    </select>
                </div>
                <div class="ui-widget">
                    <input id="supplierPartNumber_1" type="text">
                    </input>
                </div>
                <div class="ui-widget">
                    <select id="supplier_2">
                    </select>
                </div>
                <div class="ui-widget">
                    <input id="supplierPartNumber_2" type="text">
                    </input>
                </div>
                <div class="ui-widget">
                    <select id="supplier_3">
                    </select>
                </div>
                <div class="ui-widget">
                    <input id="supplierPartNumber_3" type="text">
                    </input>
                </div>
                <div class="ui-widget">
                    <select id="supplier_4">
                    </select>
                </div>
                <div class="ui-widget">
                    <input id="supplierPartNumber_4" type="text">
                    </input>
                </div>
                <div class="ui-widget">
                    <label for="verified">Verified</label>
                    <select id="verified">
                        <option value = "TRUE">TRUE</option>
                        <option value = "FALSE">FALSE</option>
                    </select>
                </div>
                <div class="ui-widget">
                    <label for="symbolVerified">Symbol verified</label>
                    <select id="symbolVerified">
                        <option value = "TRUE">TRUE</option>
                        <option value = "FALSE">FALSE</option>
                    </select>
                </div>
                <div class="ui-widget">
                    <label for="footprintVerified" font-family="Courier New">Footprint verified</label>
                    <select id="footprintVerified">
                        <option value = "TRUE">TRUE</option>
                        <option value = "FALSE">FALSE</option>
                    </select>
                </div>


            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createTodo()">Add component</button>
        </form>
    </div>



</div>


</body>
</html>