<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Symbols</title>
</head>
<body>
<div id="mainmenu">
    <span class="menu_item"><a href="index.html">Home</a></span>
    <span class="menu_item"><a href="index.html">Components</a></span>
    <span class="menu_item"><a href="symbols.html">Schematic_symbols</a></span>
    <span class="menu_item"><a href="footprints.html">Footprints</a></span>
    <span class="menu_item"><a href="suppliers.html">Suppliers</a></span>
    <span class="menu_item"><a href="boms.html">BOMs</a></span>
    <span class="menu_item"><a href="about.html">About</a></span>
    <span class="menu_item"><a href="contact.html">Contact</a></span>
    <span class="menu_item"><a href="login.html">Login</a></span>
</div>

<div class="container">

    <div class="header">
        <h1>Tecinvent</h1>
    </div>
<!---Must be controlled--
    <div class="todo-form">
        <label for="components"><h2 class="lead">Components</h2></label>
        <form id="components">
            <div class="form-group">

                <div class="ui-widget">
                    <select id="id">
                    </select>
                </div>
                <div class="ui-widget">
                    <select id="name">
                    </select>
                </div>
                <div class="ui-widget">
                    <label for="verified">Verified</label>
                    <select id="verified">
                        <option value = "TRUE">TRUE</option>
                        <option value = "FALSE">FALSE</option>
                    </select>
                </div>

            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createTodo()">Add component</button>
        </form>
    </div>
    -->

</div>

</body>
</html>